@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
  --color1: #e5c3a9;
  --color2: #ff6f00;
  --color3: rgb(255, 204, 103);
  --color4: rgb(253, 52, 52);
}

.neon {
  color: #fff9dd;
  text-shadow:
    0 0 3px var(--color1),
    0 0 4px var(--color2),
    0 0 5px var(--color3),
    0 0 6px var(--color4);
  will-change: filter, color;
  filter: saturate(80%);
}